{% extends 'base.html' %}
{% block content %}
<section class="section about-section">
<h2>About Me</h2>
<p>
I'm <strong>Nivethitha A</strong>, a Computer Science & Engineering student (2024–2028) at Chennai Institute of Technology. I enjoy creating practical, impactful applications using Python, JavaScript, Node.js, MongoDB, and Flask. I explore full-stack development, cloud platforms, IoT, and AI through hands-on projects and internships.
</p>


<h3>Internships</h3>
<ul>
<li><strong>Web Full Stack Developer</strong> — AICTE EduSkills (Virtual Internship, 10 weeks). <br>Built mini full-stack projects using HTML, CSS, JavaScript, Node.js, and MongoDB.</li> <br> 
<li><strong>AWS IoT Cloud Engineering</strong> — EduSkills Foundation (2025).<br> Learnt AWS IoT Core, SiteWise, Greengrass, Kinesis, and device onboarding with Raspberry Pi & FreeRTOS.</li>
</ul>


<h3>Certifications</h3>
<ul>
<li>Introduction to C — SoloLearn</li>
<li>Introduction to Cyber Security — Cisco</li>
<li>Introduction to Modern AI — Cisco</li>
<li>Web Development — EduSkills</li>
<li>MongoDB Basics for Students — MongoDB University</li>
<li>AWS Certified Cloud Practitioner — Udemy</li>
</ul>


<h3>Achievements</h3>
<ul>
<li>100+ LeetCode problems solved — <a href="https://leetcode.com/u/Nivethitha_A/" target="_blank">LeetCode</a></li>
<li>350+ CodeChef problems solved — <a href="https://www.codechef.com/users/nivethitha_a" target="_blank">CodeChef</a></li>
<li>280+ SkillRack problems completed — <a href="http://www.skillrack.com/profile/489701/a4df160d723f5553277e4e34dca1fb2f2976b468" target="_blank">SkillRack</a></li>
</ul>
</section>
{% endblock %}

